
h1{
    font-family: "Kanit", sans-serif;
    background-color: black;
    color:white;
    letter-spacing: -.5px;
}

h2{
    font-family: "Kanit", sans-serif;
    letter-spacing: -.5px;
}

body {
    margin:0;
    min-width: auto;
    padding:0;
    width: auto;
    align-items: center;
    text-align: center;
  }

.home-button {
    width: 50px;    
    height: 50px;
    background-image: url('favicon1.jpg');
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    margin-top: -18px;
}

.full-page img{
  width: 100%;
  height: 100%;
  margin: 0;
}

a[href*= "http"]{
    padding-left: .59em;
    text-decoration: none;
    outline: none;
    background: url('icon.png');
    background-size: .58em .58em;
    background-position: 0 2px;
    background-repeat: no-repeat;
    }
    
    a:link, a:visited, a:focus {
        color: #BA7530;
    }

p{
    font-family: "Inter", serif;
    font-size:1.2rem;
    letter-spacing: 1.5px;
    padding: 20px;
    float: inherit;
    width: 35%;
    margin-left: auto;
    text-align: left;
    transform: translateX(-81%);
}

p::first-line{
  font-weight: bold;
}

.sticky-header {
    background-color:rgb(255, 255, 255);
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100px;
  }

  .sticky-header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    box-sizing:border-box;
    margin:0 auto;
  }

  .sticky-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
  }

  .sticky-header li {
    text-align: center;
    flex-grow: 0;
    flex-basis: auto;
    margin: 20px;
  }

  .sticky-header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.blank{
  width: 250px;
}

.custom-button {
  position: relative;
  border: 2px solid black;
  padding: 15px 30px; 
  cursor: pointer;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
  overflow: hidden;
  width: 300px;
}

.custom-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(152, 0, 253, 0.1);
  z-index: -1;
  transition: transform 0.8s ease;
  transform: scaleX(0);
  transform-origin: center;
}

.custom-button:hover:before {
  transform: scaleX(1);
}

.custom-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.unique{
  position: relative;
  border:none;
  background-color: rgb(240, 158, 158);
  font-size: large;
  width:125px;
  height: 30px;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  color: white;
  transition: background-color 0.3s ease;
  transform: translateY(-10%);
}


.unique:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.unique:hover a {
  color: inherit;
}

.footer-edit{
  font-family: "Inter", serif;
  font-size: medium;
  text-align: center;
  background-color: black;
  padding: 0 20px;
  margin: 0 auto;
}

.footer-icon{
  height: 75px;
  margin: 15px;
  width: 100px;
}

.footer-list{
  position: relative;
  color: white;
  text-decoration: none;
  list-style: none;
  display: block;
  align-items: center;
  gap: 30px;
  margin: 0;
}

.footer-list a{
  text-decoration: none;
  color:white;
}

.footer-list li{
  display:inline;
  position: relative;
  justify-content: space-around;
  margin-right: 50px;
}

.footer-p{
  font-size: medium;
  color: white;
}
.footer-p2{
  font-size: medium;
  color: white;
  margin-top: -15px;
}