
h1{
    font-family: "Kanit", sans-serif;
    background-color: black;
    color:white;
    letter-spacing: -.5px;
}

h2{
    font-family: "Kanit", sans-serif;
    letter-spacing: -.5px;
}

body {
    margin:0;
    min-width: auto;
    padding:0;
    width: auto;
    align-items: center;
    text-align: center;
  }



.home-button {
    width: 50px;    
    height: 50px;
    background-image: url('favicon1.jpg');
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    margin-top: -18px;
}

nav{
    list-style-type: none;
    display: block;
    unicode-bidi: isolate;
}

nav li{
    display:inline;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 15px;
}


img{ 
    width: 600px; 
}
a[href*= "http"]{
    padding-left: .59em;
    text-decoration: none;
    outline: none;
    background: url('icon.png');
    background-size: .58em .58em;
    background-position: 0 2px;
    background-repeat: no-repeat;
    }
    
    a:link, a:visited, a:focus {
        color: #BA7530;
    }

p{
    font-family: "Inter", serif;
    font-size:1.2rem;
    letter-spacing: 1.5px;
    padding: 20px;
    float: inherit;
    width: 35%;
    margin-left: auto;
    text-align: left;
    transform: translateX(-81%);
}

p::first-line{
      font-weight: bold;
}

.sticky-header {
    background-color:rgb(102, 85, 163);
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
    width: auto;
  }

  .sticky-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  .sticky-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: auto;
  }

  .sticky-header li {
    margin-left: 125px;
  }

  .sticky-header a {
  text-decoration: none;
  color: rgb(31, 0, 20);
}