@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h1{
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color:white;
    letter-spacing: -.5px;
}

h2{
    font-family: "Open Sans", sans-serif;
    letter-spacing: -.5px;
}

body {
    margin:0;
    min-width: auto;
    max-width: auto;
    padding:0;
    width: auto;
    align-items: center;
    text-align: center;
  }



.home-button {
    width: 50px;
    height: 50px;
    background-image: url('favicon.jpg');
    background-size: cover;
    display: inline-block;
}

nav{
    list-style-type: none;
    
}

nav li{
    display:inline;
    position: relative;
    justify-content: center;
    align-items: center;
    margin:50px;
}

img{ 
    width: 600px; 
}
a[href*= "http"]{
    padding-left: .59em;
    text-decoration: none;
    outline: none;
    background: url;
    background-size: .58em .58em;
    background-position: 0 2px;
    background-repeat: no-repeat;
    }
    
    a:link, a:visited, a:focus {
        color: #BA7530;
    }

p{
    letter-spacing: 1.5px;
    padding: 10px;
    float: inherit;
    width: 47%;
    margin-left: 26%;
}